<ion-tabs>
  <ion-tab tab="home">
    <div id="inmobiliaria-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Propiedades</ion-title>
         <img src="assets/icon/logo.png" weight="50px" height="50px" class="left-image">
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Listado de propiedades</div>
      </ion-content>
    </div>
      <!--Cuerpo muestra de propiedades-->
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="assets/propeties/casa.png" alt="Imagen de propiedad">
            </ion-thumbnail>
            <ion-label>
              <h2>Casa en Quito</h2>
              <p>Precio: $120,000</p>

              <ion-button fill="clear" size="small" color="medium">Llamar</ion-button>
              <ion-button fill="clear" size="small" color="medium">Agendar Cita</ion-button>
            </ion-label>
          </ion-item>
      
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="assets/icon.logo.png" alt="Imagen de propiedad">
            </ion-thumbnail>
            <ion-label>
              <h2>Apartamento en Ambato</h2>
              <p>Precio: $85,000</p>
            </ion-label>
          </ion-item>
      
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="assets/casa3.jpg" alt="Imagen de propiedad">
            </ion-thumbnail>
            <ion-label>
              <h2>Villa en Mindo</h2>
              <p>Precio: $250,000</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
      
      <!--Fin de cuerpo muestra propiedades-->
    
  </ion-tab>
  <ion-tab tab="radio">
    <div id="radio-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Citas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Agendar Cita</div>
        <!--Agregate content-->
        <ion-item>Holaaa</ion-item>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab tab="library">
    <div id="library-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Reservas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Agregar Reserva</div>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab tab="search">
    <div id="search-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Search</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Search content</div>
      </ion-content>
    </div>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      Propiedades
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="radio"></ion-icon>
      Citas
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Reservas
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>