<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inmobiliaria seccion Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-button [routerLink]="'/adminusuarios'"> <ion-icon name="people" slot="start"></ion-icon>Usuarios</ion-button> <!--Añadir CRUD USUARIOS-->
  <ion-button><ion-icon name="home" slot="start"></ion-icon> Tipo de propiedad</ion-button>
  <ion-button><ion-icon name="business" slot="start"></ion-icon>Propiedades</ion-button>
  <!--Atributos-->
  <ion-label>Tipo de propiedad</ion-label>
  <ion-input type="text" [(ngModel)]="type_propetie"></ion-input>

  <ion-label>precio</ion-label>
  <ion-input type="number" step="any" [(ngModel)]="price"></ion-input>

  <ion-label>Ubicacion</ion-label>
  <ion-input type="text" [(ngModel)]="location"></ion-input>

  <ion-label>Imagen</ion-label>
  <ion-item>
    <input type="file" accept="image/*" (change)="onImageSelected($event)" style="color:black" />
  </ion-item>

  <!-- Vista previa de la imagen antes de subirla -->
  <ion-img *ngIf="previewImage" [src]="previewImage" alt="Vista previa" style="width: 100%; max-height: 50px;"></ion-img>

  <!-- Mostrar imagen de la propiedad desde el backend -->
  <ion-img *ngIf="propiedad" [src]="'http://localhost/inmobiliaria/mostrar_imagen.php?id=' + propiedad.idPropiedad"
    alt="Imagen de la propiedad" style="width: 100%; max-height: 50px;"></ion-img>

  <ion-button expand="block"(click)="GuardarPropiedad()"><ion-icon name="save" slot="start"></ion-icon>Guardar propiedad</ion-button>
  <ion-button expand="block" (click)="EliminarCasillasPropiedad()"> <ion-icon name="trash" slot="start"></ion-icon> Eliminar informacion</ion-button>
  <ion-button expand="block"> <ion-icon name="home" slot="start"></ion-icon>Eliminar propiedad</ion-button>


</ion-content>
