<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inmobiliaria MJB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Bienvenido a Inmobiliaria MJB</ion-card-title>
    </ion-card-header>
    <img src="assets/icon/logo.jpeg" weight="50px" height="50px" class="center-image">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iniciar sesion</ion-card-title>
    </ion-card-header>
    
      <ion-label>Usuario:</ion-label>
      <ion-input type="text"[(ngModel)]="txt_usuario"></ion-input>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password"[(ngModel)]="pass_password"></ion-input>
       <ion-button fill="outline">Aceptar</ion-button>
      <ion-button fill="outline">Cancelar</ion-button>
      <ion-button fill="outline" (click)="registro()">Registrarse</ion-button>
    
  </ion-card>
  </div>
</ion-content>
